@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

:root {
  --green-background: #006600;
  --green-text: #bfffbf;
  --blue-background: #001f7d;
  --blue-text: #bfcfff;
  --yellow-background: #ffff4d;
  --yellow-text: #8a7625;
  --orange-background: #ffc862;
  --orange-text: #5f3a05;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2rem;
  background-color: #f0db4f;
  position: sticky;
  top: 0;
  z-index: 999;
}

header a {
  text-decoration: none;
  color: #323330;
  transition: all 0.3s ease;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #323330;
  transition: all 0.3s ease;
}

#quote-section,
#hero-converter-section,
#number-box-section,
#magic-box-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#quote-section {
  background-color: #ebffeb;
}

#hero-converter-section {
  background-color: #e2e2ff;
}

#number-box-section {
  background-color: #fff3e1;
}

#magic-box-section {
  background-color: #ebffeb;
}

#quote-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 300px;
  justify-content: center;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--green-background);
  color: var(--green-text);
  margin-bottom: 2rem;
}

#quote-box p {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

#color-buttons button {
  margin: 0 0.25rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.green-btn {
  background-color: var(--green-background);
  color: var(--green-text);
}

.blue-btn {
  background-color: var(--blue-background);
  color: var(--blue-text);
}

.yellow-btn {
  background-color: var(--yellow-background);
  color: var(--yellow-text);
}

.orange-btn {
  background-color: var(--orange-background);
  color: var(--orange-text);
}

#hero-converter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 300px;
  justify-content: center;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--blue-background);
  color: var(--blue-text);
}

#hero-converter-box p {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

#hero-converter-box button {
  margin: 0 0.25rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
  background-color: var(--yellow-background);
  color: var(--yellow-text);
}

#hero-converter-box input,
select {
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 1rem;
  text-align: center;
  background-color: #eaefff;
  color: var(--blue-background);
}

#hero-converter-box input {
  width: 250px;
}

select {
  cursor: pointer;
  width: 140px;
}

#hero-input::placeholder {
  color: var(--blue-background);
  opacity: 0.8;
}

#number-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 400px;
  justify-content: center;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--orange-background);
  color: var(--orange-text);
}

#number-input::placeholder {
  color: var(--orange-text);
  opacity: 0.5;
}

#number-box p {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

#number-box input {
  padding: 1rem;
  width: 80%;
  margin-bottom: 2rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 1rem;
  text-align: center;
  color: var(--orange-text);
  background-color: #fffad0;
}

#number-result {
  display: flex;
  width: 80%;
  align-items: flex-start;
}

#magic-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: 500px;
  justify-content: center;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--green-background);
  color: var(--green-text);
}

#magic-box p {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

#magic-box textarea {
  padding: 1rem;
  width: 700px;
  height: 600px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 1rem;
  text-align: center;
  background-color: #ebffeb;
  color: var(--green-background);
}

#magic-box button {
  margin: 0 0.05rem;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.9rem;
  background-color: var(--blue-background);
  color: var(--blue-text);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #f0db4f;
}
