@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #208c61;
}

.primary-color {
  color: var(--primary-color);
}

body {
  font-family: "Space Grotesk", sans-serif;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: #1b1b1b;
  padding: 0 10%;
  position: sticky;
  top: 0;
}

.logo {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.nav-links a:hover {
  color: var(--primary-color);
  border-bottom: var(--primary-color) 2px solid;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.hero-content,
.hero-img {
  flex-basis: 50%;
  justify-content: space-around;
  padding: 0px 20px;
}

.hero-title {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}

.hero-img img {
  width: 100%;
  border-radius: 10px;
  border: #208c61 2px solid;
}

.about-me {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  background-color: #1b1b1b;
  color: white;
}

.about-me-content,
.about-me-img {
  flex-basis: 50%;
  justify-content: space-around;
  padding: 0px 20px;
}

.about-me-title {
  font-size: 40px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.about-me-text {
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}

.about-me-img img {
  width: 100%;
  border-radius: 10px;
}

.skills table {
  border-spacing: 0px;
}

.skills tr {
  color: white;
  font-size: 16px;
}

.skills td:first-child {
  font-weight: bold;
  color: var(--primary-color);
}

.skills td {
  padding: 5px 10px 5px 0px;
  border: none 1px solid;
}

.about-me-social {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.about-me-social a {
  color: var(--primary-color);
  text-decoration: none;
  margin-right: 10px;
  font-size: 24px;
}
