body {
    background-color: rgb(45, 120, 205);
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

button {
    background-color: #0a4b0c;
    color: #ffffff;
    border: 2px solid black; 
    font: 18px bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4ea951;
}
.page-links-box {
    background-color: #7bb5f7;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 35%;
    text-align: center;
    margin:0 auto;
    margin-top: 20%;
    display: flex;
    justify-content: space-between;
}
.page-links-box a {
    color: #000000;
    text-decoration: none;
    margin: 0;
    font-size: 30px;
}
.page-links-box a:hover {
    background-color: rgb(9, 94, 159)
}
.login-box {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    margin: 0 auto;
}
.login-box h2 {
    margin-bottom: 20px;
}
.login-box input[type="phone"],
.login-box input[type="text"],
.login-box input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 100px;
}
.login-box input[type="submit"] {
    background-color: #147700;
    color: #ffffff;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 10px;
}
.search-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.search-container input[type="text"],
.search-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 10px;
    width: 170px;
   
}

.search-container button {
    background-color: #06812f;
    color: #ffffff;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 32px;
    margin-left: 10px;
    width: 170px;
    height: 45px;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: #13c94f;
}
.button-box {
    background-color: #052857;
    color: #ffffff;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin:0 auto;
    width: 50px;
    height: 25px;
    transition: background-color 0.3s ease;
}
.button-box:hover {
    background-color: #6d9edd;
}
.back-home {
    background-color: rgb(255, 255, 255);
    color: #ffffff;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin:0 auto;
    width: 60px;
    height: 25px;
    transition: background-color 0.3s ease;
}
.back-home:hover {
    background-color: #a2f7f0;
}